* {
    box-sizing: border-box;
}
body {
    margin:0px;
    font-family: san-serif;
}
#container {
    width: 500px;
    background-color: grey;
    min-height: 100vh;
    font-size: 0%;
    background: linear-gradient(blue, orange);
}
.block {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}
.green {
    background-color: green;
    border: 20pt groove green
    
}
.lightgreen {
    background-color: lightgreen;
    border: 20pt groove lightgreen;
}
.cream {
    background-color: rgb(248, 248, 233);
    border: 20pt groove
}
.pink {
    background-color: pink;
    border: 20pt groove pink
}
.yellow {
    background-color: rgb(240, 240, 98);
    border: 20pt groove rgb(240, 240, 98)
}