* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-image: linear-gradient(180deg, rgb(137, 11, 190),rgb(26, 55, 184));
    
}
#grandpa-div {
    display: flex;
    gap: 10px;
    justify-content: center;
}
#side-bar {
    max-width: 250px;
    flex: 1;
}
#side-bar ul {
    background-color: rgb(87, 62, 75);
    margin-top: 0px;
    border: 2px solid;
}
#side-bar h2 {
    background-color: beige;
    margin-bottom: 0px;
    border-bottom: 4px solid black;
    border: 2px solid;

}
#side-bar li {
    color: beige;
    margin: 10px;
}
#side-bar a {
    text-decoration: none;
    color: beige;
}
.sign {
    background-color: rgb(87, 62, 75);
    max-width: 400px;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    border-width: 10px;
    border-color: rgb(114, 52, 171);
    border: 2px solid;
    flex: 1;
    margin-left: 20px;
}
.sign img {
    display: inline-block;
    width: 380px;
}
.sign .text {
    color: beige;
}
#title {
    font-style: italic;
}