* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: san-serif;
    background-image: linear-gradient(180deg, rgb(137, 11, 190), 
    rgb(26, 55, 184));
    
}
.sign {
    margin: 0px auto;
    background-color: rgb(87, 62, 75);
    width: 400px;
    max-width: 400px;
    text-align: left;
    padding: 10px;
    margin-top: 5px;
    border-width: 10px;
    border-color: rgb(114, 52, 171);
}
.sign img {
    display: inline-block;
    width: 380px;
}
.sign .text {
    color: beige;
}
#title {
    font-style: italic;
}
#ident {
    text-decoration: underline;
}
