* {
    box-sizing: border-box;
}
body {
    margin:0px;
    font-family: san-serif;

}
#head1 {
    font-family: 'Gill Sans', 
    'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* paragraph-group-1 */
.block {
    background-color: hotpink;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
div {
    background-color: hotpink;
    margin: 20px;
}
#edit-1 {
    background-color: rgb(159, 119, 196);
}
.shaddow { 
    margin: 20px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    box-shadow: inset 5px, 5px, 10px;

}