* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: san-serif;
}
#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}
#sidebar .chapter {
    color: orange;
    font-style: oblique;
}
#sidebar .edit  {
    color: red; 
}
#sidebar li {
    margin: 10px;
}