/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
#bulletin-board {
    width: 700px;
    height: 300px;
}
.post {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px;
}
.push {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    margin-left: 60px;
    margin-top: 7px;

}
.text {
    color: white;
}
.pink {
    background-color: pink;
    margin: 5px;
}
.cream {
    background-color: beige;
    padding: 10px;
}
.brown {
    background-color: brown;
    padding: 10px;
}
.dark-brown {
    background-color: rgb(92, 83, 46);
    padding: 10px;
}
.green {
    background-color: rgb(103, 168, 108);
    padding: 10px;
}
.other-green {
    background-color: rgb(80, 119, 88);
    padding: 10px;
}