* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#parent {
    max-width: 800px;
    margin: 48px auto;
}
#red {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: antiquewhite;
    padding: 20px;
}
#red img {
    width: 100%;
}