* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #f3efe8;
}
#navbar {
    background-color: #D19A6A;
    display: flex;
}
#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
}
#navbar #home {
    margin-right: auto;
}
#navbar #button {
    background-color: #A65E2E;
    border-radius: 36px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 20px;

}
.text {
    text-align: center;
    text-decoration: underline;
}
