* {
    box-sizing: border-box;
}
body {
    margin:0px;
    font-family: san-serif;
}
#frame-1 {
    width: 100x;
    height: 385px;
    border: solid rgb(128, 85, 57);
    border-width: 15px;
    margin-left: 30px;
    margin-right: 1000px;
    margin-bottom: 20px;
    border-style: inset groove;
    background-color: antiquewhite;

}
#frame-2 {
    width: 100x;
    height: 150px;
    border: solid rgb(128, 85, 57);
    border-width: 15px;
    margin-left: 30px;
    margin-right: 600px;
    margin-bottom: 20px;
    border-style: inset groove;
    background-color: antiquewhite;

}
#jelly {
    padding: 5px;
    display: inline-block;
    width: 200px;
}
#plane {
    padding: 5px;
    display: inline-block;
    width: 200px;
}