* {
    box-sizing: border-box;
}
body {
    margin:0px;
    font-family: san-serif;
}
#frame-1 {
    border: solid rgb(128, 85, 57);
    border-width: 15px;
    margin-left: 30px;
    margin-right: 240px;
    border-style: inset groove;
    background-color: antiquewhite;
    display: inline-block;
}
#jelly {
    padding: 5px;
    width: 200px;
}
#frame-2 {
    border: solid rgb(128, 85, 57);
    border-width: 15px;
    margin-left: 60px;
    margin-top: 20px;
    border-style: inset groove;
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 50%;
}
#plane {
    padding: 5px;
    width: 200px;
    border-radius: 50%;
}
#frame-3 {
    border: solid rgb(128, 85, 57);
    border-width: 15px;
    margin-bottom: 100px;
    margin-left: 400px;
    border-style: inset groove;
    background-color: antiquewhite;
    display: inline-block;
}
#lav {
    padding: 5px;
    width: 200px;
    border-radius: 80%;
}