@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Science+Gothic:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: san-serif;
    
}
#grandpa {
    background-color: beige;
    padding: 10px;
    padding-bottom: 40px;

}
#parent {
    width: 50%;
    text-align: center;
    margin: auto;
}
.header {
    font-family: science gothic;
    margin-top: 0%;
    padding: 5px;
    text-decoration: underline;

}
img {
    width: 500px;
    display: inline-block;
}
.text {
    text-align: center;
}
.button {
    text-decoration: none;
    color: black;
    background-color: rgb(168, 218, 201);
    padding: 10px;
    border-radius: 10%;
    border-style: solid ;
    border-color: rgb(69, 103, 91);
}
/* slide 2 */
#grandpa2 {
    background-color: rgb(193, 161, 180);
    padding: 10px;
    padding-bottom: 40px;
}
#parent2 {
    width: 50%;
    text-align: center;
    margin: auto;
}
.button2 {
    text-decoration: none;
    color: black;
    background-color: rgb(241, 224, 203);
    padding: 10px;
    border-radius: 10%;
    border-style: solid ;
    border-color: rgb(122, 103, 15);
}
/* slide 3 */
#grandpa3 {
    background-color: rgb(121, 134, 196);
    padding: 10px;
    padding-bottom: 40px;
}
#parent3 {
    width: 50%;
    text-align: center;
    margin: auto;
}
.button3 {
    text-decoration: none;
    color: black;
    background-color: rgb(162, 186, 192);
    padding: 10px;
    border-radius: 10%;
    border-style: solid ;
    border-color: rgb(19, 13, 74);
    cursor: pointer;
}


