* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    display: flex;
    background-color: pink;
    justify-content: center;
    align-items: center;
}
#navbar a {
    color: black;
    text-decoration: none;
    padding: 24px;
}
#navbar #logo {
    margin-right: auto;
}
#navbar .button {
    background-color: black;
    color: pink;
    border-radius: 50px;
    margin-right: 20px;
    
}